In [1]:
import pandas as pd

In [2]:
df = pd.read_excel("data_pre.xlsx")

In [3]:
df.head()

  Data format : cust_id_token|current_address3|current_city|current_state|current_pin_code|permanent_address3|permanent_city|permanent_state|permanent_pin_code
0  1|JAMBI|INDONESIA|36126|CHENNAI|TAMIL NADU|600029
1  2|INJAMBAKKAM|CHENNAI|TAMIL NADU|600115|LONDON...
2  3|ROODEPOORT|JOHANNESBURG|GAUTENG|2169|MANDIR ...
3          4|DUBAI|DUBAI|18582|BARODA|GUJARAT|390007
4        5|SIRSA|HARYANA|125055|SIRSA|HARYANA|125055

In [4]:
df=df.rename(index=str, columns={"Data format : cust_id_token|current_address3|current_city|current_state|current_pin_code|permanent_address3|permanent_city|permanent_state|permanent_pin_code": "address"})

In [5]:
df.head()

                                             address
0  1|JAMBI|INDONESIA|36126|CHENNAI|TAMIL NADU|600029
1  2|INJAMBAKKAM|CHENNAI|TAMIL NADU|600115|LONDON...
2  3|ROODEPOORT|JOHANNESBURG|GAUTENG|2169|MANDIR ...
3          4|DUBAI|DUBAI|18582|BARODA|GUJARAT|390007
4        5|SIRSA|HARYANA|125055|SIRSA|HARYANA|125055

In [11]:
new = df["address"].str.split("|", n = 10, expand = True)

In [15]:
new[8]

0       None
1       None
2     412207
3       None
4       None
5     400034
6     791118
7       None
8       None
9       None
10      None
11      None
12      None
13    400051
14      None
15      None
16    827013
17    100274
18    786126
19      None
20      None
21    400080
22      None
23    401404
24      None
25    341358
26      None
27    110018
28    400001
29      None
       ...
70      None
71    402112
72      None
73    400093
74    480111
75    247001
76    590010
77    590010
78      None
79      None
80    411014
81      None
82      None
83      None
84      None
85    146001
86    400083
87    396450
88      None
89      None
90      None
91      None
92      None
93      None
94      None
95      None
96      None
97      None
98      None
99      None
Name: 8, Length: 100, dtype: object

In [18]:
nd = {'cust_id_token':new[0],
                      'current_address3':new[1],
                      'current_city':new[2],
                      'current_state':new[3],
                      'current_pin_code':new[4],
                      'permanent_address':new[5],
                      'permanent_city':new[6],
                      'permanent_state':new[7],
                      'permanent_pin_code':new[8] }

In [ ]:
new_df = pd.DataFrame(data=)